<ion-header>
  <div class="container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/browse" text=""></ion-back-button>
      </ion-buttons>
      <ion-title translate="Login"></ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="container container-sm">
    <form class="ion-padding">
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked" translate="Username"></ion-label>
          <ion-input required type="text" name="username" autocomplete="off" autofocus="true" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" translate="Password"></ion-label>
          <ion-input required type="password" name="password" autocomplete="off" autofocus="true" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>
      <div class="ion-margin-top">
        <ion-button expand="full" type="submit" translate="Login" (click)="handleLogin()"></ion-button>
      </div>
      <div class="ion-margin-top">
        <ion-button routerLink="/tabs/register" expand="full" color="success" translate="Register"></ion-button>
      </div>
    </form>
  </div>
</ion-content>
